PORT=5001
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/internship_platform?retryWrites=true&w=majority
JWT_SECRET=replace_with_the_same_secret_as_auth_service
CLIENT_URL=http://localhost:5173
